TD {font-family:tahoma, verdana, arial; font-size:11; color:#535454}

input, select {font-family:tahoma, verdana, arial; font-size:11; color:black; background-color:white}

a {font-family:tahoma, verdana; font-size:11; color:blue; text-decoration:none}
a:hover {text-decoration:underline}



a.CategoryClass {font-family:tahoma, verdana; font-size:11; color:#535454; text-decoration:none}
a.CategoryClass:hover {text-decoration:underline}

a.SubcategoryClass {font-family:tahoma, verdana; font-size:11; color:#535454; text-decoration:none}
a.SubcategoryClass:hover {text-decoration:underline}

a.RedLink {font-family:tahoma, verdana; font-size:11; color:red; font-weight:bold; text-decoration:none}
a.RedLink:hover {text-decoration:underline}

a.BlackLink {font-family:tahoma, verdana; font-size:11; color:black; font-weight:bold; text-decoration:none}
a.BlackLink:hover {text-decoration:underline}

a.BlackLinkSub {font-family:tahoma, verdana; font-size:10; color:black; font-weight:bold; text-decoration:none}
a.BlackLinkSub:hover {text-decoration:underline}


a.WhiteLink {font-family:tahoma, verdana; font-size:11; color:white; font-weight:bold; text-decoration:none}
a.WhiteLink:hover {text-decoration:underline}

a.ItemTitle {font-family:tahoma, verdana; font-size:12; color:black; font-weight:bold; text-decoration:none}
a.ItemTitle:hover {text-decoration:underline}

.LeftContent {font-family:tahoma, verdana, arial, font-size:10; color:black;}

.sub {font-family:tahoma, verdana; font-size:11; color:black; font-weight:bold; background-color:#DCDDDD; border-width:1px; border-color:black}

.TableHead {background-color:#C9C9C9; color:black; font-family:tahoma, verdana; font-size:11; font-weight:bold}
.CartHead {background-color:#C9C9C9; color:black; font-family:tahoma, verdana; font-size:11; font-weight:bold}
.TableNav {background-color:#000000; color:white; font-family:tahoma, verdana; font-size:11; font-weight:bold}

.title {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #003366;
	line-height: 10px;
	font-variant: normal;
}

.ItemTitle {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
	font-variant: normal;
}

.CategoryName {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000000;
	text-decoration:none;
	font-weight:bold;
}

a.CategoryName:hover {
	text-decoration:underline;
}
